#For sphinx documentation (26 packages)
alabaster==0.7.12
autodocsumm==0.2.11
Babel==2.9.1
cryptography==43.0.1
pockets==0.9.1
Pygments==2.15.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
snowballstemmer==2.0.0
Sphinx==6.2.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
win-inet-pton==1.1.0

#For autopep8
#autopep8==1.6.0
#black==21.12b0
#mypy-extensions==0.4.3
#pycodestyle==2.8.0
#pylint==2.13.8
#toml==0.10.2

#For git conda
#menuinst==1.4.16
#pywin32==227
