/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Scrollbar
- Typography
- Links
- Input
- Button
- Dash leaflet style
- Custom id
- Custom class
- Tabs

Colour Palette
Grey #57555A
Deep blue #202029
Dark pink #BE9B89
Light pink #F0E3DF
Pinkish grey #D6CAC7
*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: white;
    color: black;
}

/* Scrollbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #202029;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6, p, span {
    font-family: Source Sans Pro;
    margin-left: 20px;
}

h1 {
  font-family: Playfair Display;
  font-size: 45px;
  color: #BE9B89;
}

/* Subtitle */
h3 {
  color: #BE9B89;
}

h4 {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #BE9B89;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: black;
}

a:hover {
    color: #BE9B89;
}

/* Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input {
    background-color: white !important;
    font-family: Source Sans Pro !important;
}

/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
    font-family: Source Sans Pro;
    background-color: white;
    color: #202029;
    margin-top: 10px;
    margin-right: 10px;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    opacity: 0.6;
    pointer-events: none;
}

/* Dash leaflet style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.leaflet-container {
    cursor: crosshair !important;
}

/* Custom id
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#violin-plot .js-plotly-plot .plotly .cursor-pointer {
    cursor: auto;
}

#dropdown-change-x .VirtualizedSelectFocusedOption,
#dropdown-change-y .VirtualizedSelectFocusedOption,
#dropdown-changes-identifier .VirtualizedSelectFocusedOption {
    background-color: #F0E3DF;
}

#table-changes .Select-value-label {
    color: white !important;
}

#table-changes .Select-clear, .Select-arrow {
    --accent: white !important;
}

#table-changes .Select-menu-outer, .is-focused {
    --accent: white !important;
    background-color: black !important;
}

#table-changes .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    background-color: black;
}

/* Custom class
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sidebar {
    top: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    width: 15vw;
    background-color: #202029;
}

.contents {
    display: inline-block;
    width: 83vw;
    margin-left: 15vw
}

.custom-div {
    border-radius: 10px;
    background-color: #202029;
    color: white;
}

/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.custom-tabs-parent {
    width: 100%;
}

.custom-tabs {
    margin-left: 20px;
    margin-right: 10px;
    width: 100%;
}

.custom-tab:hover {
    background-color: #31313A !important;
    color: #AFAFB9 !important;
}

.custom-tab-selected {
    background-color: #F0E3DF !important;
    color: #202029 !important;
}

.custom-tab {
    font-size: 16px;
    font-weight: bold;
    color: #BE9B89;
    border-radius: 3px;
    padding: 10px !important;
    display: flex !important;
    align-items: center;
    justify-content: left;
}
