/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Scrollbar
- Typography
- Links
- Input
- Button
- Dash leaflet style
- Custom id
- Custom class
- Tabs

Colour Palette
Grey #57555A
Deep blue #202029
Dark pink #BE9B89
Light pink #F0E3DF
Pinkish grey #D6CAC7
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* For devices or screen size smaller than 800px */
@media (max-width:800px), (max-device-width:800px) {
    #sidebar-small {
        display: inline-block;
    }
    #sidebar-big {
        display: none;
        width: 85vw;
    }
    #sidebar-big h1 {
        font-size: 5vh;
    }
    #tab-content {
        width: 94vw;
        margin-top: 60px;
        margin-left: 0;
    }
    .custom-tab {
        font-size: 1.3em;
    }
}

/* For devices larger than 800px */
@media (min-width:800px) and (min-device-width:800px) {
    #sidebar-small {
        display: none;
    }
    #sidebar-big {
        display: inline-block;
        width: 15vw;
    }
    #sidebar-big h1 {
        font-size: 45px;
    }
    #tab-content {
        width: 80vw;
        margin-top: 0;
        margin-left: 15vw;
    }
    .custom-tab {
        font-size: 14px;
    }
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: white;
    color: black;
}

/* Scrollbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #202029;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6, p, span, details, li, textarea {
    font-family: Source Sans Pro;
}

h1 {
  font-family: Playfair Display;
  font-size: 45px;
  color: #BE9B89;
}

/* Subtitle */
h3 {
  color: #BE9B89;
}

h4 {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #BE9B89;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: black;
}

a:hover {
    color: #BE9B89;
}

/* Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input {
    background-color: white !important;
    font-family: Source Sans Pro !important;
}

/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
    font-family: Source Sans Pro;
    background-color: white;
    color: #202029;
    margin-top: 10px;
    margin-right: 10px;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    opacity: 0.6;
    pointer-events: none;
}

/* Dash leaflet style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.leaflet-container {
    cursor: crosshair !important;
}

/* Custom class
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.custom-container {
    margin-top: 10px;
    margin-bottom: 50px;
}

.custom-div {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    border-radius: 10px;
    background-color: #202029;
    color: white;
    padding: 2%;
}

.custom-div-center {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.custom-tabs-parent {
    width: 100%;
}

.custom-tabs {
    margin-left: 20px;
    margin-right: 10px;
    width: 90%;
}

.custom-tab {
    font-weight: bold;
    color: #BE9B89;
    border-radius: 3px;
    padding: 10px !important;
    display: flex !important;
    align-items: center;
    justify-content: left;
    text-align: left !important;
}

.custom-tab span {
    margin-left: 0px;
}

.custom-tab:hover {
    background-color: #31313A !important;
    color: #AFAFB9 !important;
}

.custom-tab-selected {
    background-color: #F0E3DF !important;
    color: #202029 !important;
}

/* Custom id
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sidebar-small {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 8vh;
    background-color: #202029;
    z-index: 1;
}

#sidebar-small h1 {
    display: table-cell;
    height: 8vh;
    font-size: 5vh;
    vertical-align: middle;
}

#sidebar-small button, #sidebar-small button:hover, #sidebar-small button:focus {
    height: 8vh;
    width: 10vw;
    font-size: 5vh;
    color: #BE9B89;
    vertical-align: top;
    margin: 0;
    border: none;
    background-color: transparent;
}

#sidebar-big {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    background-color: #202029;
}

#sidebar-big h1 {
    margin-top: 15vh;
    margin-left: 20px;
}

#tab-content {
    display: inline-block;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    overflow: hidden;
}

#violin-plot .js-plotly-plot .plotly .cursor-pointer,
#graph-mbti .js-plotly-plot .plotly .cursor-pointer {
    cursor: auto;
}

#dropdown-change-worksheet .VirtualizedSelectFocusedOption,
#dropdown-change-x .VirtualizedSelectFocusedOption,
#dropdown-change-y .VirtualizedSelectFocusedOption,
#dropdown-changes-worksheet .VirtualizedSelectFocusedOption,
#dropdown-changes-identifier .VirtualizedSelectFocusedOption {
    background-color: #F0E3DF;
}

#table-changes .Select-value-label {
    color: white !important;
    margin-left: 20px;
}

#table-changes .Select-clear, .Select-arrow {
    --accent: white !important;
}

#table-changes .Select-menu-outer, .is-focused {
    --accent: white !important;
    background-color: black !important;
}

#table-changes .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    background-color: black;
}
