h1, h2, h3, h4, h5, h6, p {
    color: black
}

h1 {
  font-family: Roboto;
  font-size: 60px;
}

.custom-tabs {
    width: 100%;
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    padding: 0;
}

.custom-tab {
    color: white;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 12px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
