/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Display
- Scrollbar
- Typography
- Links
- Background color
- Input
- Label
- Button
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: white;
    color: black;
}

/* Display
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.inline-block-display {
    display: inline-block;
}

.block-display {
    display: block;
}

.flex-display {
    display: flex;
}

/* Scrollbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #202029;
}

/* Typography
h1: KJ Wong
h2: title in page title
h3: subtitle in page title
h4: dash in page title
h5: card
h6: version
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6, p, span, details, li, textarea {
    font-family: Source Sans Pro;
    white-space: pre;
}

h1 {
    font-family: Playfair Display;
    font-size: 45px;
    color: #BE9B89;
}

h2 {
    color: #202029;
}

h3 {
    color: #BE9B89;
}

h4 {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #BE9B89;
}

h5 {
    line-height: 1.2;
    margin: 0;
    margin-bottom: 3px;
}

h6 {
    display: inline-block;
    font-size: 12px;
    line-height: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: black;
}

a:hover {
    color: #BE9B89;
}

/* Background color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.background-yellow {
    background-color: #ffc107;
    color: black;
}

.background-grey {
    background-color: #6c757d;
    color: white;
}

.background-green {
    background-color: #198754;
    color: white;
}

.background-red {
    background-color: #dc3545;
    color: white;
}

.background-blue {
    background-color: #0d6efd;
    color: white;
}

.background-lightblue {
    background-color: #0dcaf0;
    color: black;
}

.background-light {
    background-color: #f8f9fa;
    color: black;
}

.background-dark {
    background-color: #212529;
    color: white;
}

/* Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input {
    background-color: white !important;
    font-family: Source Sans Pro !important;
    margin-right: 5px !important;
}

/* Label
–––––––––––––––––––––––––––––––––––––––––––––––––– */
label {
    margin-left: 5px !important;
}

/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
    font-family: Source Sans Pro;
    background-color: white;
    border: none;
    border-radius: 15px;
    color: #202029;
    height: 28px;
    line-height: 28px;
    margin-top: 10px;
    margin-right: 10px;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    opacity: 0.6;
    pointer-events: none;
}
