/* Colour Palette
Grey #57555A
Deep blue #202029
Dark pink #BE9B89
Light pink #F0E3DF
Light grey #F0E3DF
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: white;
    color: black;
}

/* Scrollbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-thumb {
    background-color: #202029;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6, p, span {
    font-family: Source Sans Pro;
    margin-left: 20px;
}

h1 {
  font-family: Playfair Display;
  font-size: 45px;
  color: #BE9B89;
}

/* Subtitle */
h3 {
  color: #BE9B89;
}

h4 {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #BE9B89;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: black;
}

a:hover {
    color: #BE9B89;
}

/* Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input {
    background-color: white !important;
    font-family: Source Sans Pro !important;
}

/* Dropdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#dropdown-change-x #dropdown-change-y {
    color: black;
}

#dropdown-change-x .VirtualizedSelectFocusedOption {
    background-color: grey;
}

/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
    font-family: Source Sans Pro;
    background-color: white;
    color: #202029;
    margin-top: 10px;
    margin-right: 10px;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    opacity: 0.6;
    pointer-events: none;
}

/* Dash leaflet style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.leaflet-container {
    cursor: crosshair !important;
}

/* Custom class
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sidebar {
    top: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    width: 15vw;
    background-color: #202029;
}

.contents {
    display: inline-block;
    width: 83vw;
    margin-left: 15vw
}

.custom-div {
    border-radius: 10px;
    background-color: #202029;
    color: white;
}

/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.custom-tabs-parent {
    width: 100%;
}

.custom-tabs {
    margin-left: 20px;
    margin-right: 10px;
    width: 100%;
}

.custom-tab:hover {
    background-color: #31313A !important;
    color: #AFAFB9 !important;
}

.custom-tab-selected {
    background-color: #F0E3DF !important;
    color: #202029 !important;
}

.custom-tab {
    font-size: 16px;
    font-weight: bold;
    color: #BE9B89;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 12px !important;
    display: flex !important;
    align-items: center;
    justify-content: left;
}
